@import "base.css";
header{
    width: 1346px;
    height: 750px;
    background: url("../img/banner.jpg");
    background-size: 1346px 750px;
}
.bg{
    width: 1346px;
    height: 750px;
    background: rgba(70, 70, 70, 0.7);
    overflow: hidden;
}
.logo{
    width: 134px;
    height: 120px;
    margin-left: 160px;
    margin-top: 29px;
    float: left;
}
.logo img{
    width: 134px;
    height: 120px;
}
.nav{
    width: 867px;
    height: 30px;
    float: left;
    margin-top: 110px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
}
.nav_list{
    width: 70px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    float: left;
}
.nav_list a{
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}
.nav_list:hover{
    background-color: white;
    transform: scale(1.5);
}
.nav_list:hover a{
    color: #666;
}
.leaving{
    width: 710px;
    height: 500px;
    font-size: 20px;
    border: 1px solid #eeeeee;
    margin: 180px auto;
    padding-top: 30px;
    position: relative;
}
.leaving input{
    width: 300px;
    height: 40px;
    margin-top: 30px;
    background-color: rgba(230,230,230,0.9);
    padding-left: 10px;
    border: none;
    outline:none;
}
.push{
    width: 160px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    background: #eee;
    margin-top: 20px;
    margin-left: 275px;
    font-weight: bold;
    box-shadow: 0 0 10px 1px #fff;
}
a:hover .push{
    background: #222;
    color: #ffffff;
}
.out{
   display:block;
    width: 80px;
    height: 30px;
    font-size: 18px;
    border-radius: 12px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background:#999;
    color:#000;
    text-align: center;
    line-height: 30px;
}
.out:hover{
    background: #eee;
    font-weight: bold;
}


/*联系开始*/
.contact{
    width: 1346px;
    height: 964px;
    background: url("../img/bg2.jpg") no-repeat;
    background-size: 1346px 964px;
}
.bg3{
    width: 100%;
    height: 964px;
    background: rgba(60,60,60,0.8);
    overflow: hidden;
}
.bg3 h3{
    display: block;
    width: 420px;
    height: 100px;
    font-size: 68px;
    font-family: "trebuchet ms";
    font-weight: 400;
    margin: 100px auto 60px;
    text-align: center;
    color: #eee;
}
.call{
    width: 820px;
    height: 606px;
    padding: 0 40px;
    margin: 30px auto;
}
.call_type{
    width: 810px;
    height: 39px;
    /*background: gray;*/
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
}
/*底部开始*/
footer{
    width: 1266px;
    height: 300px;
    padding: 0 40px;
    background: #41626B;
    overflow: hidden;
}
.code{
    width: 1266px;
    height: 229px;
    margin-top: 42px;
    display: flex;
    align-items: center;
}
.code_left{
    width: 573px;
    height: 209px;
    border-right: 1px solid #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 60px;
}
.code_right{
    width: 573px;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 60px;
}
