@import "base.css";
header{
    width: 100%;
    height: 750px;
    background: url("../img/banner.jpg");
    background-size: 100% 750px;
}
.bg{
    width: 100%;
    height: 750px;
    background: rgba(70, 70, 70, 0.7);
    overflow: hidden;
}
.logo{
    width: 134px;
    height: 120px;
    margin-left: 160px;
    margin-top: 29px;
    float: left;
}
.logo img{
    width: 134px;
    height: 120px;
}
.nav{
    width: 867px;
    height: 30px;
    float: left;
    margin-top: 110px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
}
.nav_list{
    width: 70px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    float: left;
}
.nav_list a{
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}
.nav_list:hover{
    background-color: white;
    transform: scale(1.5);
}
.nav_list:hover a{
    color: #666;
}
.bg a{
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}
.leaving{
    width: 710px;
    height: 500px;
    font-size: 20px;
    border: 1px solid #eeeeee;
    margin: 180px auto;
    padding-top: 30px;
    position: relative;
}
.leaving input{
    width: 300px;
    height: 40px;
    margin-top: 30px;
    background-color: rgba(230,230,230,0.9);
    padding-left: 10px;
    border: none;
    outline:none;
}
.push{
    width: 160px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    background: #eee;
    margin-top: 20px;
    margin-left: 275px;
    font-weight: bold;
    box-shadow: 0 0 5px 1px #fff;
}
a:hover .push{
    background: #666;
    color: #ffffff;
}
.out{
   display:block;
    width: 80px;
    height: 30px;
    font-size: 18px;
    border-radius: 12px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background:#999;
    color:#000;
    text-align: center;
    line-height: 30px;
}
.out:hover{
    background: #eee;
    font-weight: bold;
}


/*联系开始*/
.contact{
    width: 100%;
    height: 964px;
    background: url("../img/bg2.jpg") no-repeat;
    background-size: 100% 964px;
}
.bg3{
    width: 100%;
    height: 964px;
    background: rgba(80,80,80,0.8);
    overflow: hidden;
}
.bg3 h3{
    display: block;
    width: 420px;
    height: 100px;
    font-size: 68px;
    font-family: "trebuchet ms";
    font-weight: 400;
    margin: 100px auto 60px;
    text-align: center;
    color: #eee;
}
.call{
    width: 820px;
    height: 606px;
    padding: 0 40px;
    margin: 30px auto;
}
.call_type{
    width: 810px;
    height: 39px;
    /*background: gray;*/
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
}
/*底部开始*/
footer{
    width: 1269px;
    height: 140px;
    padding: 0 40px;
    background: #292929;
    border-top: 1px solid #666;
    overflow: hidden;
}
footer>ul{
    width: 200px;
    height: 24px;
    margin: 40px auto 20px;
    display: flex;
    justify-content: space-around;
}
.logo_list{
    width: 24px;
    height: 24px;
}
.logo_list:nth-child(1){
    background: url("../img/social_icon_24x24.png") no-repeat 0 -48px;
}
.logo_list:nth-child(2){
    background: url("../img/social_icon_24x24.png") no-repeat -96px -48px;
}
.logo_list:nth-child(3){
    background: url("../img/social_icon_24x24.png") no-repeat -144px -48px;
}
.logo_list:nth-child(4){
    background: url("../img/social_icon_24x24.png") no-repeat -192px -48px;
}
.logo_list:nth-child(5){
    background: url("../img/social_icon_24x24.png") no-repeat -240px -48px;
}
footer p{
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 12px;
    color: #888;
}