@import "base.css";
header{
    width: 100%;
    height: 200px;
    background: url("../img/m1.png");
    background-size: 100% 200px;
}
.bg{
    width: 100%;
    height: 200px;
    background: rgba(10,10,10,0.8);
    overflow: hidden;
}
.logo{
    width: 134px;
    height: 120px;
    margin-left: 160px;
    margin-top: 29px;
    float: left;
}
.logo img{
    width: 134px;
    height: 120px;
}
.nav{
    width: 867px;
    height: 30px;
    float: left;
    margin-top: 110px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
}
.nav_list{
    width: 70px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    float: left;
}
.nav_list a{
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}
.nav_list:hover{
    background-color: white;
    transform: scale(1.5);
}
.nav_list:hover a{
    color: #666;
}
.bg a{
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}
/*详情开始*/
.content{
    width: 1200px;
    height: 780px;
    background: #222;
    padding-top: 40px;
    margin: 30px auto;
}
.content>h3{
    font-size: 26px;
    color: #eeeeee;
    text-align: center;
    margin-bottom: 40px;
}
.content>h5{
    width: 1000px;
    font-size: 14px;
    color: #9b9b9b;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
}
.content>p{
    width: 1000px;
    font-size: 16px;
    color: #9b9b9b;
    margin: 40px auto;
    line-height: 28px;
}
.content>a{
    display: block;
    font-size: 16px;
    width: 360px;
    height: 20px;
    line-height: 20px;
    margin-left: 100px;
    margin-top: 10px;
    color: #9b9b9b;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    transition: all 1s linear;
}
.content>a:hover{
    background: #888;
    color: #222;
    transform: translate(5px 5px);
    box-shadow: 0 0 8px 2px rgba(255,255,255,0.3);
}
/*底部开始*/
footer{
    width: 100%;
    height: 140px;
    background: #292929;
    border-top: 1px solid #666;
    overflow: hidden;
}
footer>ul{
    width: 200px;
    height: 24px;
    margin: 40px auto 20px;
    display: flex;
    justify-content: space-around;
}
.logo_list{
    width: 24px;
    height: 24px;
}
.logo_list:nth-child(1){
    background: url("../img/social_icon_24x24.png") no-repeat 0 -48px;
}
.logo_list:nth-child(2){
    background: url("../img/social_icon_24x24.png") no-repeat -96px -48px;
}
.logo_list:nth-child(3){
    background: url("../img/social_icon_24x24.png") no-repeat -144px -48px;
}
.logo_list:nth-child(4){
    background: url("../img/social_icon_24x24.png") no-repeat -192px -48px;
}
.logo_list:nth-child(5){
    background: url("../img/social_icon_24x24.png") no-repeat -240px -48px;
}
footer p{
    width: 450px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 0 auto;
    font-size: 12px;
    color: #888;
}
/*留言*/
.leaving{
    width: 280px;
    height: 30px;
    border-radius: 5px;
    background: rgba(60,60,60,0.6);
    line-height: 30px;
    position: fixed;
    left: 30px;
    bottom: 0;
}