@import "base.css";
header{
    width: 100%;
    height: 750px;
    background: url("../img/banner.jpg");
    background-size: 100% 750px;
}
.bg{
    width: 100%;
    height: 750px;
    background: rgba(70, 70, 70, 0.7);
    overflow: hidden;
}
.Nav{
    width: 100%;
    height: 150px;
}
.logo{
    width: 134px;
    height: 120px;
    margin-left: 160px;
    margin-top: 29px;
    float: left;
}
.logo img{
    width: 134px;
    height: 120px;
}
.nav{
    width: 867px;
    height: 30px;
    float: left;
    margin-top: 110px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
}
.nav_list{
    width: 70px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    float: left;
}
.nav_list a{
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}
.nav_list:hover{
    background-color: white;
    transform: scale(1.5);
}
.nav_list:hover a{
    color: #666;
}
.bg h3{
    width: 800px;
    height: 60px;
    text-align: center;
    margin: 200px auto 0;
    font-size: 25px;
    font-weight: 400;
    color: white;
}
.bg h2{
    width: 800px;
    height: 100px;
    text-align: center;
    letter-spacing: 5px;
    font-size: 46px;
    margin: 0 auto;
    color: #ffffff;
}
.bg .look{
    color: #eee;
}
.bg .look:hover{
    color: #888;
}
.bg .look:hover .enter{
    border: 1px solid #888;
}
.bg .look:hover i{
    color: #888;
}
.enter{
    width: 138px;
    height: 37px;
    border: 1px solid #dddddd;
    margin: 80px auto;
}
/* 侧导航 */
.aside{
	width: 80px;
	height: 305px;
	border:2px solid rgba(128, 128, 128, 0.452); 
	display: none;
	position: fixed;
	left: 0;
    top: 200px;
    z-index: 200;
}

.as_list{
	width: 100%;
	height: 50px;
	background: rgba(116, 116, 116, 0.671);
	border-bottom: 1px solid rgba(0, 0, 0, 0.363);
	text-align: center;
	line-height: 50px;
	cursor: pointer;
}
.ct{
	background: #080808a9;
}
/* 信息开始 */
.info{
    width: 100%;
    height: 864px;
    background: #ddd;
}
.info_box{
    width: 720px;
    height: 715px;
    padding: 0 40px;
    margin: 0 auto;
    overflow: hidden;
}
.info_box>h2{
    width: 710px;
    height: 108px;
    text-align: center;
    line-height: 108px;
    font-size: 68px;
    font-weight: 400;
    margin-top: 108px;
    color: #333;
}
.info_box>.ch{
    display: block;
    width: 710px;
    height: 130px;
    font-size: 13px;
    letter-spacing: 2px;
    color: rgb(128, 128, 128);
    line-height: 25px;
    padding-top: 40px;
}
.info_box>.en{
    display: block;
    width: 710px;
    height: 232px;
    font-size: 13px;
    color: rgb(128, 128, 128);
    line-height: 25px;
    padding-top: 40px;
}
.info_box audio{
    width: 710px;
    height: 60px;
}
/*课程开始*/
.type{
    width: 100%;
    height: 720px;
    background: #2c2d2d;
    padding-top: 123px;
}
.type h3{
    display: block;
    width: 1256px;
    height: 100px;
    font-size: 68px;
    font-weight: 400;
    font-family: "trebuchet ms";
    margin: 0 auto;
    text-align: center;
    color: #eee;
}
.music_type{
    width: 1190px;
    height: 589px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.frame{
    width: 350px;
    height: 499px;
}
.type_list:hover .frame{

}
.type_list{
    width: 340px;
    height: 489px;
    background: #888;
    margin-top: 20px;
    position: relative;
    transition: all,16s,0.2s,linear;
}
.type_list .frame{
    width: 370px;
    height: 519px;
    border: 1px solid #fff;
    position: absolute;
    top: -15px;
    left: -15px;
    animation: scale 0.3s  linear forwards;
    display: none;
}
.type_list:hover .frame{
    display: block;
    width: 370px;
    height: 519px;
    border: 1px solid #fff;
    position: absolute;
    top: -15px;
    left: -15px;
    animation: scale 0.3s  linear forwards;
}
@keyframes scale {
    from{
        transform: scale(1.1);
        border-color: rgba(255,255,255,0);
    }
    30%{
        transform: scale(1.1);
    }
    60%{
        transform: scale(1);
    }
    80%{
        transform: scale(0.9);
    }
    to{
        transform: scale(0.8);
    }
}
.type_list img{
    width: 340px;
    height: 255px;
}
.type_list h4{
    font-size: 20px;
    color: #111;
    text-align: center;
}
.type_list p{
    font-size: 12px;
    color: #222;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 15px;
    padding-left:10px;
    padding-right:10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:3;
    line-height: 25px;
    overflow: hidden;
}
.type_list:hover .about{
    width: 220px;
    height: 45px;
    background: darkgray;
    margin: 441px auto 0;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.type_list a{
    color: rgba(0,0,0,0);
}
.type_list:hover a{
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}
.type_list a:hover .about{
    background: #fff;
    color: #333;
    transform: scale(0.9);
}
/*团队介绍开始*/
.team{
    width: 100%;
    height: 800px;
    background: #ddd;
    padding-top: 68px;
}
.team h3{
    display: block;
    width: 1256px;
    height: 100px;
    font-size: 68px;
    font-family: "trebuchet ms";
    font-weight: 400;
    margin: 0 auto 10px;
    text-align: center;
    color: #333;
}
.music_team{
    width: 1210px;
    height: 560px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.team_list{
    width: 363px;
    height: 468px;
    border: 2px solid rgb(128,128,128);
    position: relative;
    overflow: hidden;
}
.team_list:hover img{
    transform: scale(1.1);
}
.team_list img{
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 40px auto;
    transition: all 0.2s linear;
}
.team_list h4{
    font-size: 16px;
    line-height: 24px;
    color: rgb(128,128,128);
    text-align: center;
}
.team_list p{
    font-size: 13px;
    letter-spacing: 1px;
    color: rgb(128,128,128);
    padding: 0 10px;
    margin-top: 14px;
}
.side{
    width: 260px;
    height: 468px;
    background: rgba(181,181,181,0.7);
    position: absolute;
    top: 0;
    left: -261px;
    transition: all 0.6s linear;
}
.team_list:hover .side{
    left: 0;
}
.side h4{
    color: #222;
    font-size: 30px;
    margin-top: 60px;
}
.side p{
    width: 2px;
    height: 320px;
    color: #222;
    font-size: 23px;
    -webkit-writing-mode: vertical-lr;
    margin: 40px 0 0 60px;
}
.team_into{
    display: block;
    width: 138px;
    height: 37px;
    color: #333;
    border: 1px solid #333;
    margin: -20px auto;
    line-height: 37px;
}
.team_into:hover{
    color: #888;
    border: 1px solid #888;
}
.team_into span{
    margin-left: 30px;
    margin-right: 6px;
}



.team>p{
    display: block;
    width: 1256px;
    height: 50px;
    font-size: 35px;
    letter-spacing: 6px;
    font-family: "trebuchet ms";
    font-weight: 400;
    margin: 48px auto 0;
    text-align: center;
    color: rgba(51, 51, 51, 0.38);
}
/*资讯开始*/
.dynamic{
    width: 100%;
    height: 1028px;
    background: rgba(30,30,30,0.4);
    padding-top: 56px;
}
.dynamic .bg1{
    width: 100%;
    height: 1028px;
    background: url("../img/liu1.jpg") no-repeat;
    background-size: 100% 735px;
    position: fixed;
    top: 0;
    z-index: -1;
}
.dynamic .problem{
    width: 1190px;
    height: 900px;
    margin:0 auto;
}
.dynamic h3{
    display: block;
    width: 300px;
    height: 100px;
    font-size: 68px;
    font-weight: 400;
    margin: 0 auto 10px;
    text-align: center;
    color: #eee;
}
.dynamic_bottom{
    width: 1190px;
    height: 634px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dynamic_list{
    width: 1180px;
    height: 156px;
    background: rgba(200,200,200,0.1);
    transition: all 0.2s linear;
}
.dynamic_list>.late{
    width: 1000px;
    height: 156px;
    display: flex;
    transition: all 0.2s linear;
}
.dynamic_list:hover .late{
    transform: translateX(-50px);

}
.dynamic_list:hover{
    background: none;
    color: #ffffff;
}
.dynamic_list:hover p{
    color: #ffffff;
}
.dynamic_line{
    width: 1180px;
    height: 2px;
    background: rgba(200,200,200,0.4)
}
.dynamic_line:last-child{
    display: none;
}
.list_left{
    width: 190px;
    line-height: 156px;
    margin-left: 200px;
}
.list_right a{

    font-size: 16px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list_right p{
    width: 490px;
    font-size: 12px;
    color: rgb(136, 136, 136);
    padding-top: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dynamic_list i{
    height: 30px;
    width: 20px;
    font-size: 23px;
    color: white;
    line-height: 30px;
    text-align: center;
    margin-top: 66px;
    margin-left: 10px;
    display: none;
}
.dynamic_list:hover i{
    display: block;
}
.problem .look{
    color: #eee;
}
.problem .look:hover{
    color: #888;
}
.problem .look:hover .enter{
    border: 1px solid #888;
}
.problem .look:hover i{
    color: #888;
}
.enter{
    width: 138px;
    height: 37px;
    border: 1px solid #dddddd;
    margin: 80px auto;
}
.enter i{
    display: block;
    font-size: 20px;
    color: #ddd;
    float: right;
    margin-top: 7px;
    margin-right: 16px;
}



/*班级设置开始*/
.class{
    width: 100%;
    height: 744px;
    background: url("../img/bg2.jpg") no-repeat;
    background-size: 100% 744px;
}
.bg2{
    width: 100%;
    height: 744px;
    background: rgba(255,255,255,0.8);
    overflow: hidden;
}
.bg2 h3{
    display: block;
    width: 420px;
    height: 100px;
    font-size: 68px;
    font-family: "trebuchet ms";
    font-weight: 400;
    margin: 60px auto 60px;
    text-align: center;
    color: #666;
}
.price{
    width: 1190px;
    height: 480px;
    margin: 0 auto;
}
.price_list{
    width: 100%;
    height: 118px;
    border-bottom: 1px solid #fff;
}
.tool1{
    width: 230px;
    height: 80px;
    margin-top: 39px;
    text-align: center;
    float: left;
}
.tool1 img{
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
.prix{
    display: block;
    margin-top: 36px;
    text-align: center;
}
.prix span{
    font-size: 28px;
    line-height: 82px;
}
.sign{
    width: 120px;
    height: 80px;
    padding: 0 90px;
    margin: 30px 30px 0 0;
    float: right;
}
.sign_up{
    width: 120px;
    height: 43px;
    background: gray;
    border-radius: 20px;
    text-align: center;
    line-height: 43px;
    margin: 20px auto 0;
}
.sign_up .into{
    font-size: 18px;
    color: #eee;
}
.sign a:hover .into{
    color: #000;
}
.sign a:hover .sign_up{
    background: #dddddd;
}
/*联系开始*/
.contact{
    width: 100%;
    height: 964px;
    background: url("../img/bg2.jpg") no-repeat;
    background-size: 100% 964px;
}
.bg3{
    width: 100%;
    height: 964px;
    background: rgba(60,60,60,0.8);
    overflow: hidden;
}
.bg3 h3{
    display: block;
    width: 420px;
    height: 100px;
    font-size: 68px;
    font-family: "trebuchet ms";
    font-weight: 400;
    margin: 100px auto 60px;
    text-align: center;
    color: #eee;
}
.call{
    width: 820px;
    height: 606px;
    padding: 0 40px;
    margin: 30px auto;
}
.call_type{
    width: 810px;
    height: 39px;
    /*background: gray;*/
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
}
/*底部开始*/
footer{
    width: 1269px;
    height: 140px;
    padding: 0 40px;
    background: #292929;
    border-top: 1px solid #666;
    overflow: hidden;
}
footer>ul{
    width: 200px;
    height: 24px;
    margin: 40px auto 20px;
    display: flex;
    justify-content: space-around;
}
.logo_list{
    width: 24px;
    height: 24px;
}
.logo_list:nth-child(1){
    background: url("../img/social_icon_24x24.png") no-repeat 0 -48px;
}
.logo_list:nth-child(2){
    background: url("../img/social_icon_24x24.png") no-repeat -96px -48px;
}
.logo_list:nth-child(3){
    background: url("../img/social_icon_24x24.png") no-repeat -144px -48px;
}
.logo_list:nth-child(4){
    background: url("../img/social_icon_24x24.png") no-repeat -192px -48px;
}
.logo_list:nth-child(5){
    background: url("../img/social_icon_24x24.png") no-repeat -240px -48px;
}
footer p{
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 12px;
    color: #888;
}
.return{
    width: 40px;
    height: 40px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    background-color: rgba(151, 150, 150, 0.384);
    cursor: pointer;
    display: none;
}
.return .icon-fanhuidingbu{
    margin-left: 5px;
    line-height: 40px;
    color:rgba(0, 0, 0, 0.753);
    font-size: 30px;
    font-weight: 600;
}
/*留言*/
.leaving{
    width: 280px;
    height: 30px;
    border-radius: 5px;
    background: rgba(60,60,60,0.6);
    line-height: 30px;
    position: fixed;
    left: 30px;
    bottom: 0;
}