@import "base.css";
header{
    width: 1346px;
    height: 750px;
    background: url("../img/banner.jpg");
    background-size: 1346px 750px;
}
.bg{
    width: 1346px;
    height: 750px;
    background: rgba(70, 70, 70, 0.7);
    overflow: hidden;
}
.logo{
    width: 134px;
    height: 120px;
    margin-left: 160px;
    margin-top: 29px;
    float: left;
}
.logo img{
    width: 134px;
    height: 120px;
}
.nav{
    width: 867px;
    height: 30px;
    float: left;
    margin-top: 110px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
}
.nav_list{
    width: 70px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    float: left;
}
.nav_list a{
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}
.nav_list:hover{
    background-color: white;
    transform: scale(1.5);
}
.nav_list:hover a{
    color: #666;
}
.bg h3{
    width: 1346px;
    height: 60px;
    text-align: center;
    margin: 350px auto 0;
    font-size: 25px;
    font-weight: 400;
    color: white;
}
.bg h2{
    width: 1346px;
    height: 100px;
    text-align: center;
    letter-spacing: 5px;
    font-size: 46px;
    margin: 0 auto;
    color: #ffffff;
}
.bg .about{
    width: 152px;
    height: 45px;
    background: darkgray;
    margin: 0 auto;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg a{
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}
.bg a:hover .about{
    background: #fff;
    color: #666;
    transform: scale(0.9);
}
/*info 开始*/
.info{
    width: 1346px;
    height: 864px;
    background: #ddd;
}
.info_box{
    width: 720px;
    height: 715px;
    padding: 0 40px;
    margin: 0 auto;
    overflow: hidden;
}
.info_box>h2{
    width: 710px;
    height: 108px;
    text-align: center;
    line-height: 108px;
    font-size: 68px;
    font-weight: 400;
    margin-top: 108px;
    color: #333;
}
.info_box>.ch{
    display: block;
    width: 710px;
    height: 130px;
    font-size: 13px;
    letter-spacing: 2px;
    color: rgb(128, 128, 128);
    line-height: 25px;
    padding-top: 40px;
}
.info_box>.en{
    display: block;
    width: 710px;
    height: 232px;
    font-size: 13px;
    color: rgb(128, 128, 128);
    line-height: 25px;
    padding-top: 40px;
}
.info_box audio{
    width: 710px;
    height: 60px;
}
/*课程开始*/
.type{
    width: 1346px;
    height: 720px;
    background: #2c2d2d;
    padding-top: 123px;
}
.type h3{
    display: block;
    width: 1256px;
    height: 100px;
    font-size: 68px;
    font-weight: 400;
    font-family: "trebuchet ms";
    margin: 0 auto;
    text-align: center;
    color: #eee;
}
.music_type{
    width: 1190px;
    height: 589px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.frame{
    width: 350px;
    height: 499px;
}
.type_list:hover .frame{

}
.type_list{
    width: 340px;
    height: 489px;
    background: #888;
    margin-top: 20px;
    position: relative;
    transition: all,16s,0.2s,linear;
}
.type_list .frame{
    width: 370px;
    height: 519px;
    border: 1px solid #fff;
    position: absolute;
    top: -15px;
    left: -15px;
    animation: scale 0.3s  linear forwards;
    display: none;
}
.type_list:hover .frame{
    display: block;
    width: 370px;
    height: 519px;
    border: 1px solid #fff;
    position: absolute;
    top: -15px;
    left: -15px;
    animation: scale 0.3s  linear forwards;
}
@keyframes scale {
    from{
        transform: scale(1.1);
        border-color: rgba(255,255,255,0);
    }
    30%{
        transform: scale(1.1);
    }
    60%{
        transform: scale(1);
    }
    80%{
        transform: scale(0.9);
    }
    to{
        transform: scale(0.8);
    }
}
.type_list img{
    width: 340px;
    height: 255px;
}
.type_list h4{
    font-size: 20px;
    color: #111;
    text-align: center;
}
.type_list p{
    font-size: 12px;
    color: #222;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 15px;
    padding-left:10px;
    padding-right:10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:3;
    line-height: 25px;
    overflow: hidden;
}
.type_list:hover .about{
    width: 220px;
    height: 45px;
    background: darkgray;
    margin: 441px auto 0;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.type_list a{
    color: rgba(0,0,0,0);
}
.type_list:hover a{
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}
.type_list a:hover .about{
    background: #fff;
    color: #333;
    transform: scale(0.9);
}
/*团队介绍开始*/
.team{
    width: 1346px;
    height: 700px;
    background: #ddd;
    padding-top: 68px;
}
.team h3{
    display: block;
    width: 1256px;
    height: 100px;
    font-size: 68px;
    font-family: "trebuchet ms";
    font-weight: 400;
    margin: 0 auto 10px;
    text-align: center;
    color: #333;
}
.music_team{
    width: 1210px;
    height: 560px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.team_list{
    width: 363px;
    height: 468px;
    border: 2px solid rgb(128,128,128);
    position: relative;
    overflow: hidden;
}
.team_list:hover img{
    transform: scale(1.1);
}
.team_list img{
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 40px auto;
    transition: all 0.2s linear;
}
.team_list h4{
    font-size: 16px;
    line-height: 24px;
    color: rgb(128,128,128);
    text-align: center;
}
.team_list p{
    font-size: 13px;
    letter-spacing: 1px;
    color: rgb(128,128,128);
    padding: 0 10px;
    margin-top: 14px;
}
.side{
    width: 260px;
    height: 468px;
    background: rgba(181,181,181,0.7);
    position: absolute;
    top: 0;
    left: -261px;
    transition: all 0.6s linear;
}
.team_list:hover .side{
    left: 0;
}
.side h4{
    color: #222;
    font-size: 30px;
    margin-top: 60px;
}
.side p{
    width: 2px;
    height: 320px;
    color: #222;
    font-size: 23px;
    -webkit-writing-mode: vertical-lr;
    margin: 40px 0 0 60px;
}
.team>p{
    display: block;
    width: 1256px;
    height: 50px;
    font-size: 35px;
    letter-spacing: 6px;
    font-family: "trebuchet ms";
    font-weight: 400;
    margin: -45px auto 0;
    text-align: center;
    color: rgba(51, 51, 51, 0.38);
}
/*问答开始*/
.q_a{
    width: 1346px;
    height: 640px;
    background: rgba(30,30,30,0.8);
    padding-top: 56px;
}
.q_a .bg1{
    width: 1346px;
    height: 640px;
    background: url("../img/bg1.jpg") no-repeat;
    background-size: 1346px 735px;
    position: fixed;
    top: 0;
    z-index: -1;
}
.q_a .problem{
    width: 720px;
    height: 600px;
    padding: 0 40px;
    margin: 0 auto;
}
.q_a h3{
    display: block;
    width: 300px;
    height: 100px;
    font-size: 68px;
    font-family: "trebuchet ms";
    font-weight: 400;
    margin: 0 auto 10px;
    text-align: center;
    color: #eee;
}
.question{
    width: 710px;
    height: auto;
    margin-top: 30px;
    position: relative;
}
.question a{
    display: block;
    width: 710px;
    height: 30px;
    color: #666;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ffffff;
}
.open{
    width: 27px;
    height: 22px;
    border-radius: 11px;
    background: #ddd;
    margin-top: 5px;
    text-align: center;
    line-height: 22px;
    font-size: 25px;
    font-weight: bold;
    color: #111;
    float: left;
}
.question h3{
    width: 360px;
    height: 30px;
    font-size: 22px;
    float: left;
}
.question .pull{
    width: 800px;
    border-radius: 20px;
    font-size: 24px;
    color: black;
    padding-right: 40px;
    background: rgba(230,230,230,0.9);
    position: absolute;
    top: 105px;
    left: -48px;
    display: none;

}
@keyframes look {
    from{
        transform: rotateY(0deg) scale(0.5);
    }
    20%{
        transform: rotateY(120deg) scale(0.7);
    }
    40%{
        transform: rotateY(180deg) scale(0.9);
    }
    60%{
        transform: rotateY(240deg) scale(1);
    }
    80%{
        transform: rotateY(300deg) scale(1.1);
    }
    to{
        transform: rotateY(360deg) scale(1.3);
    }
}
.question a:hover .pull{
    display: block;
    top: 42px;
    animation: look 1.2s linear forwards;
}
.question p{
    padding: 20px;
    width: 800px;
    letter-spacing: 1px;
}

/*班级设置开始*/
.class{
    width: 1346px;
    height: 744px;
    background: url("../img/bg2.jpg") no-repeat;
    background-size: 1346px 744px;
}
.bg2{
    width: 1346px;
    height: 744px;
    background: rgba(255,255,255,0.8);
    overflow: hidden;
}
.bg2 h3{
    display: block;
    width: 420px;
    height: 100px;
    font-size: 68px;
    font-family: "trebuchet ms";
    font-weight: 400;
    margin: 60px auto 60px;
    text-align: center;
    color: #eee;
}
.price{
    width: 1190px;
    height: 480px;
    margin: 0 auto;
}
.price_list{
    width: 100%;
    height: 118px;
    border-bottom: 1px solid #fff;
}
.tool1{
    width: 230px;
    height: 80px;
    margin-top: 39px;
    text-align: center;
    float: left;
}
.tool1 img{
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
.prix{
    display: block;
    margin-top: 36px;
    text-align: center;
}
.prix span{
    font-size: 28px;
    line-height: 82px;
}
.sign{
    width: 120px;
    height: 80px;
    padding: 0 90px;
    margin: 30px 30px 0 0;
    float: right;
}
.sign_up{
    width: 120px;
    height: 43px;
    background: gray;
    border-radius: 20px;
    text-align: center;
    line-height: 43px;
    margin: 20px auto 0;
}
.sign_up .into{
    font-size: 18px;
    color: #eee;
}
.sign a:hover .into{
    color: #000;
}
.sign a:hover .sign_up{
    background: #dddddd;
}
/*联系开始*/
.contact{
    width: 1346px;
    height: 964px;
    background: url("../img/bg2.jpg") no-repeat;
    background-size: 1346px 964px;
}
.bg3{
    width: 100%;
    height: 964px;
    background: rgba(60,60,60,0.8);
    overflow: hidden;
}
.bg3 h3{
    display: block;
    width: 420px;
    height: 100px;
    font-size: 68px;
    font-family: "trebuchet ms";
    font-weight: 400;
    margin: 100px auto 60px;
    text-align: center;
    color: #eee;
}
.call{
    width: 820px;
    height: 606px;
    padding: 0 40px;
    margin: 30px auto;
}
.call_type{
    width: 810px;
    height: 39px;
    /*background: gray;*/
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
}
/*底部开始*/
footer{
    width: 1266px;
    height: 300px;
    padding: 0 40px;
    background: #41626B;
    overflow: hidden;
}
.code{
    width: 1266px;
    height: 229px;
    margin-top: 42px;
    display: flex;
    align-items: center;
}
.code_left{
    width: 573px;
    height: 209px;
    border-right: 1px solid #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 60px;
}
.code_right{
    width: 573px;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 60px;
}
/*留言*/
.leaving{
    width: 280px;
    height: 30px;
    border-radius: 5px;
    background: rgba(60,60,60,0.6);
    line-height: 30px;
    position: fixed;
    left: 30px;
    bottom: 0;
}