@import "base.css";
header{
    width: 100%;
    height: 200px;
    background: url("../img/m1.png");
    background-size: 100% 200px;
}
.bg{
    width: 100%;
    height: 200px;
    background: rgba(10,10,10,0.8);
    overflow: hidden;
}
.logo{
    width: 134px;
    height: 120px;
    margin-left: 160px;
    margin-top: 29px;
    float: left;
}
.logo img{
    width: 134px;
    height: 120px;
}
.nav{
    width: 867px;
    height: 30px;
    float: left;
    margin-top: 110px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
}
.nav_list{
    width: 70px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    float: left;
}
.nav_list a{
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}
.nav_list:hover{
    background-color: white;
    transform: scale(1.5);
}
.nav_list:hover a{
    color: #666;
}
.bg a{
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}
/*详情开始*/
.main{
    width: 1200px;
    height: 720px;
    /*background: pink;*/
    margin: 40px auto 0;
    overflow: hidden;
    position: relative;
}
.main_top{
    width: 500px;
    height: 80px;
    /*background: blue;*/
    margin: 40px auto 0;
}
.teach{
    width: 250px;
    height: 80px;
    text-align:center;
    line-height: 80px;
    font-size: 20px;
    color: #ddd;
    cursor: pointer;
}
.tea{
    background: #aaa;
    font-weight: 600;
    /*display: none;*/
}
.main_bottom{
    width:1000px;
    height: 569px;
    margin: 0 auto;
    display: none;
    /*position: absolute;*/
    /*left: 5px;*/
    /*z-index: 5;*/
}
.main_bottom .content{
    width: 300px;
    height: 554px;
    margin-right: 50px;
    float: left;
}
.main_bottom .content:hover h3{
    color: #fff;
}
.main_bottom .content:last-child{
    margin-right: 0;
}
.main_bottom .content img{
    width: 200px;
    height: 200px;
    display: block;
    margin: 120px auto 10px;
    transition: all .3s linear;
}
.main_bottom .content img:hover{
    transform: scale(1.2);
}
.main_bottom .content h1{
    color: #aaaaaa;
    font-size: 16px;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 8px;
    text-align: center;
}
.main_bottom .content h2{
    color: #aaaaaa;
    font-size: 13px;
    padding: 5px 0 10px 0;
    text-align: center;
}
.main_bottom .content h3{
    color: #777777;
    font-size: 13px;
    line-height: 26px;
    text-align: center;
}

/*底部开始*/
footer{
    width: 100%;
    height: 140px;
    background: #292929;
    border-top: 1px solid #666;
    overflow: hidden;
}
footer>ul{
    width: 200px;
    height: 24px;
    margin: 40px auto 20px;
    display: flex;
    justify-content: space-around;
}
.logo_list{
    width: 24px;
    height: 24px;
}
.logo_list:nth-child(1){
    background: url("../img/social_icon_24x24.png") no-repeat 0 -48px;
}
.logo_list:nth-child(2){
    background: url("../img/social_icon_24x24.png") no-repeat -96px -48px;
}
.logo_list:nth-child(3){
    background: url("../img/social_icon_24x24.png") no-repeat -144px -48px;
}
.logo_list:nth-child(4){
    background: url("../img/social_icon_24x24.png") no-repeat -192px -48px;
}
.logo_list:nth-child(5){
    background: url("../img/social_icon_24x24.png") no-repeat -240px -48px;
}
footer p{
    width: 450px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 0 auto;
    font-size: 12px;
    color: #888;
}
/*留言*/
.leaving{
    width: 280px;
    height: 30px;
    border-radius: 5px;
    background: rgba(60,60,60,0.6);
    line-height: 30px;
    position: fixed;
    left: 30px;
    bottom: 0;
}